<h1>
  <%= @recipe.title %>
</h1>

<h3>Ingredients: <%= @recipe.ingredients %></h3>
<h3>Directions: <%= @recipe.directions %></h3>
<h4>Prep Time: <%= @recipe.prep_time %></h4>

<img src="<%= @recipe.image_url %>" alt="">